<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.jhtrip.board.dao.BoardDao">

	<!--게시글 작성-->
	<insert id="insert" parameterType="board">
		INSERT INTO board
		    (
		     user_id,		-- 회원 ID
		     title,			-- 게시글 제목
		     content		-- 본문 내용
			)
		VALUES
		    (
		     #{userId},
		     #{title},
		     #{content}
			)
	</insert>

	<!--마지막 게시글 ID 조회-->
	<select id="getBoardNo" resultType="int">
		select
		    last_insert_id();
	</select>

	<!--첨부파일 저장-->
	<insert id="insertFile" parameterType="fileInfo">
		INSERT INTO
		    file_info (
		               board_no,		-- 게시글 ID
                       origianl_file,	-- 원본파일
                       save_file		-- 저장파일
					   )
		VALUES (
		        #{boardNo},
		        #{originalFile},
		        #{saveFile}
			   )
	</insert>

	<!--첨부파일 정보 조회-->
	<select id="getFileInfo" parameterType="int" resultType="fileInfo">
		SELECT
		    *
		FROM
		    file_info
		WHERE
		    board_no = #{no}
	</select>

	<!--댓글 작성-->
	<insert id="commentWrite" parameterType="comments">
		INSERT INTO
		    comments (
		              board_no,		-- 게시글 ID
		              user_id,		-- 유저 ID
		              comment		-- 댓글 내용
		) VALUES (
		          #{boardNo},
		          #{userId},
		          #{comment}
				  );
	</insert>

	<!--게시글 조회-->
	<select id="select" parameterType="int" resultType="board">
		SELECT
		    no,				-- 게시글 ID
		    user_id,		-- 유저 ID
		    title,			-- 게시글 제목
		    content,		-- 게시글 본문 내용
		    hit,			-- 조회수
		    created_at		-- 작성일
		FROM
		    board
		WHERE
		    no = #{no}
	</select>

	<!--댓글 조회-->
	<select id="getComments" parameterType="int">
		SELECT
			*
		FROM
		    comments
		WHERE
		    board_no = #{no}
	</select>

	<!--게시글 수정-->
	<update id="update" parameterType="board">
		UPDATE
		    board
		SET
		    title = #{title},
			content = #{content}
		WHERE
			no = #{no}
	</update>

	<!--댓글 수정-->
	<update id="updateComment" parameterType="comments">
		UPDATE
		    comments
		SET
			comment = #{comment}
		WHERE
		    id = #{id};
	</update>

	<!--조회수 증가-->
	<update id="updateHit" parameterType="int">
		UPDATE
		    board
		set
		    hit = hit + 1
		where
		    no = #{no}
	</update>

	<!--게시글 삭제-->
	<delete id="delete" parameterType="int">
		DELETE
		FROM board
		WHERE
		    no = ${no}
	</delete>

	<!--댓글 삭제-->
	<delete id="deleteComment" parameterType="int">
		DELETE FROM comments
		where
		    id = #{id}
	</delete>

	<!--게시글 목록 조회-->
	<select id="search" parameterType="searchCondition" resultType="board">
		SELECT
		    no, 			-- 게시글 ID
		    user_id, 		-- 회원 ID
		    title, 			-- 게시글 제목
		    content, 		-- 게시글 내용
		    hit, 			-- 조회수
		    created_at		-- 게시글 작성 일시
		FROM
		    board
		<!-- <if test="key != 'none'"> WHERE ${key} LIKE CONCAT('%', #{word}, '%') 
			</if> -->
		<where>
			<if test="key != 'none' and word != ''">
				AND ${key} LIKE CONCAT('%', #{word}, '%')
			</if>
		</where>
		<if test="orderBy != 'none'">
			ORDER BY ${orderBy} ${orderByDir}
		</if>
		<if test="limit">
			LIMIT #{offset}, #{countPerPage}
		</if>
	</select>

	<!--게시글 총 개수 조회-->
	<select id="selectCount" parameterType="int">
		SELECT
		    COUNT(*)
		FROM BOARD
	</select>
</mapper>