<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.jhtrip.plan.dao.PlanMapper">

    <!-- 여행경로 저장 -->
    <insert id="insertPlan" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO PLAN (
                          USER_ID,
                          PLAN_NAME,
                          DESCRIPTION
        ) VALUES (
                  #{userId},
                  #{planName},
                  #{description}
        )
    </insert>

    <!-- route plans 삽입 -->
    <insert id="insertRoutePlans">
        INSERT INTO ROUTE_PLAN (
                                PLAN_ID,
                                CONTENT_ID,
                                SEQUENCE
        )
        VALUES
        <foreach collection="routePlans" item="routePlan" separator=",">
            (
             #{routePlan.planId},
             #{routePlan.contentId},
             #{routePlan.sequence}
            )
        </foreach>
    </insert>

    <select id="selectPlanItems">
        SELECT
            b.sequence,
            a.content_id,
            title,
            addr1,
            first_image,
            latitude,
            longitude
        FROM ATTRACION_INFO a
        INNER JOIN ROUTE_PLAN b
        ON a.content_id = b.content_id
        WHERE plan_id = #{planId}
    </select>

    <select id="selectPlan">
        SELECT *
        FROM PLAN
        WHERE USER_ID = #{userId}
        ORDER BY
            ID DESC
    </select>

    <delete id="deletePlan">
        DELETE FROM PLAN
        WHERE ID = #{planId}
    </delete>

    <select id="getDetailPlan">
        SELECT *
        FROM PLAN
        WHERE ID = {id}
    </select>

    <select id="getAttractionsByIds" parameterType="list">
        SELECT *
        FROM attraction_info
        WHERE content_id IN
        <foreach item="id" index="index" collection="contentIds" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY CASE content_id
        <foreach item="id" index="index" collection="contentIds">
            WHEN #{id} THEN ${index}
        </foreach>
        END
    </select>

    <select id="getPlanListALL">
        SELECT *
        FROM PLAN a
        LEFT OUTER JOIN (
            SELECT
                PLAN_ID,
                COUNT(PLAN_ID) `like`
            FROM LIKES_PLAN
            GROUP BY PLAN_ID
        ) b
        ON a.ID = b.PLAN_ID
        WHERE SHARE_STATUS = 1
        <if test="orderBy != 'none'">
            ORDER BY
                ${orderBy} ${orderByDir}
        </if>
        <if test="limit">
            LIMIT #{offset}, #{countPerPage}
        </if>
    </select>
</mapper>
