<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.jhtrip.user.model.dao.SecurityDao">
	<!--salt 값 가져오기-->
	<select id="getSalt" parameterType="string" resultType="security">
		SELECT
		    USER_ID,		/* 회원 ID */
		    SALT,			/* SALTONG VALUE */
		    ITERATION,		/* 반복 횟수 */
		    ALGO			/* 사용 알고리즘 */
		FROM SECURITY
		WHERE USER_ID = #{id}
	</select>

	<!--salt 값 저장-->
	<insert id="regist" parameterType="security">
		INSERT INTO SECURITY (
			 USER_ID,
			 SALT,
			 ITERATION,
			 ALGO
		) VALUES (
			  #{userId},
		      #{salt},
		      #{iteration},
		      #{algo}
		)
	</insert>

	<!--비밀번호 변경으로 인한 salt value update-->
	<update id="update" parameterType="security">
		UPDATE SECURITY
		SET
		    SALT = #{salt},
		    ITERATION = #{iteration}
		WHERE USER_ID = #{userId}
	</update>
</mapper>